@model List<TravelMVC.Models.NewsList>

@using TravelMVC.Controllers
@{
    ViewBag.Title = "ShowNews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/layui/css/layui.css" rel="stylesheet" />
<script src="~/layui/layui.js"></script>


<h1>显示所有的新闻</h1>
<div style="margin:0 auto;width:100px;height:20px;">
    <h4>总记录数<span id="totaldata">@ViewBag.totaldata</span>条</h4>
</div>
<button type="button" class="layui-btn layui-btn-sm" style="border-radius:4px 4px;border:none;width:80px"  onclick="location.href='http://localhost:54970/News/AddNews'" >添加</button>

<table id="tb" style="margin-top:60px;margin-left:0px;" class="layui-table">
    <colgroup>
        <col width="150">
        <col width="200">
        <col>
    </colgroup>
    <thead>
        <tr>
            <th>图片</th>
            <th>新闻编号</th>
            <th>新闻类型</th>
            <th style="width:100px;">新闻标题</th>
            <th>作者</th>
            <th>分数</th>
            <th>内容</th>
            <th style="width:200px;">日期</th>
            <th style="width:200px;">操作</th>

        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody Name="tr1">
            <tr>
                <td>
                    <img src="@item.N_Photo" style="width:432px;height:203px;" alt="">
                </td>
                <td>@item.N_Id</td>
                <td>@item.N_Name</td>
                <td>@item.N_MainTitle</td>
                <td>@item.N_Author</td>
                <td>@item.N_Category</td>
                <td>@item.N_Content</td>
                <td>@item.N_DateTime</td>
                <td>
                    <button type="button" class="layui-btn layui-btn-warm" style="border-radius:4px 4px;border:none;width:60px;height:30px;line-height:30px" onclick="Upt(@item.N_Id)">修改</button>

                    <button type="button" class="layui-btn layui-btn-danger" style="border-radius:4px 4px;border:none;width:60px;height:30px;line-height:30px" onclick="Del(@item.N_Id,this)">删除</button>

                </td>
            </tr>
        </tbody>
    }
</table>

<p style="margin:0 auto;width:400px;height:50px;">
    <span>
        <span>当前第</span>
        <span id="currentindex">@ViewBag.currentindex</span>
        <span>页，总共</span>
        <span id="totalpage">@ViewBag.totalpage</span>
        <span>页</span>

    </span>
    <button class="layui-btn" onclick="BtnUp()">
        <i class="layui-icon">上一页</i>
    </button>
    <button class="layui-btn" onclick="BtnDown()">
        <i class="layui-icon">下一页</i>
    </button>

</p>




<script>
    $(function () {
        $("#totalpage").text(Math.ceil(Number(Number($("#totaldata").text()) / 5)));
    })
    function BtnUp() {
        if ($("#currentindex").text() != 1) {
            location.href = "/News/ShowNews?pageindex=" + Number(Number($("#currentindex").text()) - 1);
        }
        else {
            layui.use('layer', function () {
                layer.alert('已经是首页了');
            })

        }
    }
    function BtnDown() {
        if ($("#currentindex").text() != $("#totalpage").text()) {
            location.href = "/News/ShowNews?pageindex=" + Number(Number($("#currentindex").text()) + 1);
        }
        else {
            layui.use('layer', function () {
                layer.alert('已经是尾页了');
            })
        }
    }
</script>



<script>


    function Upt(Id) {
        location.href = '/News/UptNews?id=' + Id;
    }

    function Del(id, obj) {

        layui.use('layer', function () {
            layer.confirm('是否删除此新闻?',
                {
                    btn: ['确定', '取消']
                    , yes: function (index, layero) {
                        $.ajax({
                            url: '/News/DelNews',
                            data: { id: id },
                            type: 'post',
                            success: function (data) {
                                location.reload();
                            }
                        })
                    }, btn2: function (index) {
                    }
                })
        })
    }
</script>


@*<div class="container" id="tb" style="width:1200px;height:550px;margin:0 auto;background-color:#f2f2f2;clear:both;position:absolute">
        @foreach (var item in Model)
        {
            <div name="tr1" class="am-u-sm-12 am-u-md-6 am-u-lg-4" style="margin-top:20px">
                <div class="tpl-table-images-content-block">
                    <div class="tpl-i-font">
                        新闻编号:@item.N_Id
                        <br />
                        新闻类型: @item.N_TypeId
                        <br />
                        新闻标题:@item.N_MainTitle
                        <br />
                        作者:@item.N_Author
                        <br />
                        分数:@item.N_Category
                        <br />
                        内容:
                        @if (item.N_Content.Length > 20)
                        {
                            <span>@item.N_Content.Substring(0, 20)...</span>
                        }
                        else
                        {
                            <span>@item.N_Content</span>
                        }
                        <br />
                        日期：@item.N_DateTime
                    </div>
                </div>
                <div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs tpl-edit-content-btn">
                        <button type="button" class="am-btn am-btn-group am-btn-secondary" onclick="Upt(@item.N_Id)"><span class="am-icon-edit"></span> 修改</button>
                        <button type="button" class="am-btn am-btn-toolbar am-btn-danger" onclick="Del(@item.N_Id,this)"><span class="am-icon-trash-o"></span> 删除</button>
                    </div>
                </div>
            </div>
        }
    </div>*@